@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-VariableFont_wght.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Sansation';
    src: url('/src/assets/fonts/Sansation-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Space Grotesk';
    src: url('/src/assets/fonts/SpaceGrotesk-VariableFont_wght.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/Inter.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
  }
  
  